<div class="modal fade" id="clear-data">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">Hapus Semua Data?</h4>
      </div>
      <form action="?nav=pemilik-kendaraan" method="post">
        <div class="modal-body">
          <div class="alert alert-danger">
            Apakah Anda yakin akan menghapus semua data? Data yang dihapus tidak bisa dikembalikan.
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger" name="clear"><i class="fa fa-trash-o"></i> Ya, Hapus</button>
          <button type="button" class="btn btn-success" data-dismiss="modal">Batal</button>
        </div>
      </form>
    </div>
  </div>
</div>
