/*
 * custom-style.css
 * 8 September 2018
 * ESK2
 */

@font-face {
  src: url('../font/Quicksand-Regular.ttf');
  font-family: 'Quicksand';
  font-weight: normal;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
  font-family: 'Quicksand';
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Quicksand';
}

 /* SECTION LOGIN */
 .login {
   padding-top: 90px;
   width: 100%;
   height: 100%;
   display: table;
   background-size: cover;
   background: rgba(70, 70, 70, .1) url('../img/bg-login.png') bottom left no-repeat;
 }

 .login .card .content {
   border-radius: none;
   border-top: 5px solid rgba(70, 100, 200, .7);
 }

.form-control {
  font-size: 17px;
  background-color: transparent;
  border-bottom: 3px solid rgba(200, 200, 200, .3);
}

.form-control:focus {
  background-color: transparent;
  border-bottom-color: rgba(70, 100, 200, .3);
}

.alert.alert-grey {
  color: rgba(30, 30, 30, .9);
  border-top: 3px solid rgba(30, 30, 30, .2);
  border-bottom: 3px solid rgba(30, 30, 30, .2);
  background-color: rgba(70, 70, 70, .1);
}

.btn.btn-biru {
  color: rgba(70, 100, 200, .7);
  border-color: rgba(70, 100, 200, .7);
  background-color: transparent;
}

.btn.btn-biru:hover {
  color: rgb(255, 255, 255);
  border-color: transparent;
  background-color: rgba(70, 100, 200, .7);
}

.btn.btn-danger {
  color: rgba(255, 30, 30, .5);
  border-color: rgba(255, 30, 30, .5);
  background-color: transparent;
}

.btn.btn-danger:hover {
  color: rgb(255, 255, 255);
  border-color: transparent;
  background-color: rgba(255, 30, 30, .5);
}

.peta {
  width: 100%;
  margin-top: 0;
}

.peta-svg {
  position: absolute;
  width: 100%;
}

.tooltip_templates {
  display: none;
}

.card .header,
.card .header .title {
  color: rgb(90, 90, 90);
}
